<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busca animal</title>
</head>
<body>
<a href="" class="navbar">Busca Animal</a>
<form>
    <input type="text" id="buscar_animal" placeholder="Exemplo: Leão, Uso" name="buscar">
    <button type="submit">Pesquisar</button>
</form>
{% for caracteristicas in caracteristicas %}
    <div class="result-description">{{ caracteristicas.nome_animal }}</div>
    <div class="result-description">{{ caracteristicas.predador }}</div>
    <div class="result-description">{{ caracteristicas.venenoso }}</div>
    <div class="result-description">{{ caracteristicas.domestico }}</div>
{% endfor %}
</body>
</html>